.hero-section {
  visibility: hidden;
  opacity: 0;
}
.hero-title {
  font-family: "Merriweather", serif;
}
/* .heroTitle {
  position: fixed;
  top: 150px;
  left: 10%;
} */
.heroTitle {
  transform: translateY(70px);
}
.about-me-card {
  cursor: pointer;
}
.text {
  transform: translateY(30px);
}

.icon-wrapper {
  /* background: #000; */
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;

  transition: 0.3s ease-in-out;
}
.icon-wrapper:hover {
  background: #000;
}

.icon-wrapper:hover svg {
  color: #fff;
}
