.hero-section {
  visibility: hidden;
  opacity: 0;
}
.hero-title {
  font-family: "Merriweather", serif;
}
.heroTitleTxt {
  clip-path: polygon(0 100%, 99% 100%, 100% 100%, 0% 100%); /*hidden clip*/

  opacity: 0;
}
.heroTitleTxt .text {
  transform: translateY(120px) rotate(-2deg);
}

/* about me card style start */

.about-me-card {
  width: 620px;
  height: 100px;
  padding: 20px;
  cursor: pointer;
  overflow: hidden;

  position: relative;

  transform: translateY(120px);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.about-me-card:hover {
  box-shadow: -10px 10px 0px #333;
  border-color: #333;
}
@media (max-width: 767px) {
  .about-me-card {
    width: 100%;
  }
  .about-me-card-responsive {
    height: 296px !important;
  }
  .short-info-bottomTxt {
    display: none;
  }
}
.dummyTxt {
  clip-path: polygon(0 100%, 99% 100%, 100% 0, 0 0); /*visible clip*/
  opacity: 1;
}
.avatar {
  position: absolute;
  top: -110px;
  opacity: 0;
}
.bioTxt {
  position: relative;
  top: 0px;
}
.short-info {
  position: absolute;
  bottom: -110px;
  opacity: 0;
  clip-path: polygon(0 100%, 99% 100%, 100% 100%, 0% 100%);
}
.icon-wrapper {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;

  transition: 0.3s ease-in-out;
  transform: rotate(0deg);
  /* position: absolute;
  bottom: 50%;
  right: 20px; */
}
.icon-wrapper:hover {
  background: #000;
}

.icon-wrapper:hover svg {
  color: #fff;
}
/* about me card style end */
.hire-btn {
  color: #fff;
  padding: 5px 18px;
  background: rgba(0, 128, 239, 0.65);
  text-decoration: none;
  border: 1px solid #007bff;
  border-radius: 5px;

  cursor: pointer;
}
