body {
  background: #fff;
}
.primary {
  color: #a991f7;
}

.secondary {
  color: #333333;
}
.accent {
  color: #4411e8;
}
.neutral {
  color: #3d4451;
}
footer {
  font-family: "Merriweather", serif;
}
.menu .active {
  background: rgba(0, 128, 239, 0.65);
  border: 1px solid #007bff;
  color: #fff;
  padding-top: 0.35rem !important;
  padding-bottom: 0.35rem !important;
}
.ff-merri {
  font-family: "Merriweather", serif;
}
